.row
  .col-12.col-sm-6.col-md-4.col-lg-2
    .director
      .poster
        = poster_for_director(@director)

  .col-12.col-sm-6.col-md-8.col-lg-10
    .title
      = @director.name
.row
  - @movies.each do |movie|
    .movie
      .title
        = link_to movie.display_name, movie
      .col-md-9
        = movie.plot
        .poster-sm
          = link_to poster_for(movie), movie





